td, th {
    padding: 5px 10px;
}
tr {
    border-bottom: none;
}
tr.odd,
tr.odd td {
    background-color: #f6f6f6;
}
thead tr {
    border-bottom: 1px solid #cfd8dc;
}
thead tr th {
    padding: 6px;
}

table {
    font-size: 14px;
}

table a {
    color: #b5b5c3;
}
table a i.material-icons {
    font-size: 20px;
}
table a:hover {
    color: #2bbbad;
}

.table-select th:last-child,
.table-select td:last-child {
    width: 90px;
    text-align: center;
}