textarea.materialize-textarea {
    min-height: 150px;
}

.form-filter .btn-flat {
    margin-top: 6px;
}
.form-filter .btn-flat i{
    margin: 0;
}


.row .col.input-field {
    margin: 0 0 0 0;
}

[type="checkbox"]+span:not(.lever) {
    padding: 0;
    width: 18px;
}