.mb-30 {
    margin-bottom: 30px;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.d-inline-block {
    display: inline-block;
}

.fake-link {
    cursor: pointer;
}

.danger {
    color: #F44336 !important;
}