.mb-30 {
    margin-bottom: 30px;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.d-inline-block {
    display: inline-block;
}

.fake-link {
    cursor: pointer;
}

.danger {
    color: #F44336 !important;
}


::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background: #ccc;
}
.scrollbar-big::-webkit-scrollbar {
    width: 3px;
    background: #26a69a;
}
::-webkit-scrollbar-button {
    display: none;
}
::-webkit-scrollbar-track {}
::-webkit-scrollbar-track-piece {}
::-webkit-scrollbar-thumb {
    background: #26a69a;
}
::-webkit-scrollbar-corner {}
::-webkit-resizer {}